<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
 <form class="form" method="post" action="/test" >
     <input type="text" name="ip1" id="ip1">
  <!--   <input type="text" name="ip2" id="ip2">
     <input type="text" name="ip3" id="ip3">
     <input type="text" name="ip4" id="ip4">-->
     <button type="submit" name="test" id="submit">开始测试</button>
 </form>
<table border="1">
    <tr>
        <td>{{ t }}</td>
    </tr>
</table>
</body>
</html>